.small-card-1{
    height: 235px;
    width: 100%;
    border: black solid 2px;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    align-items: center;
    background-color: white;
}

.small-card-1:hover{
    transform: scale(1.08);
}

.recipe-image-1{
    width: 270px;
    height: 180px;
    /* border-radius: 30px 30px 0px 0px; */
}

.recipe-detail-image-1{
    height: 180px;
    /* border-radius: 10px 10px 10px 10px; */
}

.recipe-title-1{
    height: 55px;
    /* border-radius: 0px 0px 30px 30px; */
    margin: auto;
    padding: 5px 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.summary > a{
    text-decoration: none;
}