@import url('https://fonts.googleapis.com/css2?family=Nunito');

body {
  margin: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: 'Nunito';
}
